<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <title>Create your monster || MathMonsters</title>
</head>
<body>
    <h1>Create your own monster</h1>
    <div class="log-in-container">
        <label for="name">Your monster name</label>
        <input type="text" id="name" name="name" required minlength="5" maxlength="10">
        <label for="password">Your password</label>
        <input type="text" id="password" name="password" required minlength="5" maxlength="10"> 
        <label for="password">Repeat your password</label>
        <input type="text" id="password" name="password" required minlength="5" maxlength="10"> 

    </div>
</body>
</html>